{% include "layout/header.html" %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <form method="post">
        <input type="hidden" name="id" value="{{ persons.id }}">
        <input type="text" name="name" value="{{ persons.name }}" placeholder="name">
        <input type="number" name="age" value="{{ persons.age }}" placeholder="age">
        <input type="submit">
    </form>
</div>

{% include "layout/footer.html" %}