{% include "layout/header.html" %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <h2>Hi</h2>
    <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>


    {% for person in persons %}
        <tr>
            <td>{{ person.name }}</td>
            <td>{{ person.age }}</td>
            <td>
                <a class="btn btn-success" href="/edit/{{ person.id }}">Edit</a>
                <a class="btn btn-danger" href="/delete/{{ person.id }}">Delete</a>
            </td>
          </tr>
    {% endfor %}
        </tbody>
    </table>
</div>



{% include "layout/footer.html" %}

