{% include "layout/header.html" %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <form class="insert" method="post">
        <input type="text" name="name" placeholder="name">
        <input type="number" name="age" placeholder="age">
        <input type="submit">
    </form>
</div>


{% include "layout/footer.html" %}
